<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tips</title>
  </head>
  <body>
    {% include 'skeleton.html' %}

    <div class="flex flex-col md:pl-64">
      <main class="flex-1">
        <div class="py-6">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
            <h1 class="text-2xl font-semibold text-[#d32840]">Tips</h1>
          </div>
          <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
            <!-- Replace with your content -->

<div class="py-4">
              <div
                class="h-[38rem] rounded-lg border-4 border-dashed border-gray-200"
              ><br>
<p>
1. Don’t lie to yourself or skimp on recording. It’s important to keep tracking all your expenses.<br><br>
2. Be realistic. We all need a little fun and balance in our lives. Allocate what you can, without inhibiting your goals.<br><br>
3. Stick with it. Your true spending habits will emerge over time. Track your expenses every month – not just a month or two – in order to get a realistic financial picture.<br><br>
4. Be accountable. Share your financial goals and progress with a loved one. Seek out encouragement and support.<br><br>
5. Always have a goal in mind. Use your budget to help you achieve your financial goals, such as paying for college or buying a house. As you reach your goals, adjust your projected costs/categories to accommodate new goals.
</p>
            </div>
            </div>
            <!-- /End replace -->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
