nav {
    display: right;
    justify-content: space-between;
  }
  .appName {
    font-size: 2.5rem;
    font-weight: bold;
   // color: #d32840;
    text-decoration: none;
    padding-left:500px;

  }
  .landingLink {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0rem 1rem;
    padding: 0.3rem 1rem;
    color: #d32840;
  }
  .landingLink:hover {
    border-bottom: 4px solid #d32840;
  }
  .active {
    border-bottom: 4px solid #d32840;
  }